@keyframes jump{
    0% {transform: translateY(0);}
    25% {transform: translateY(-10px);}
    50% {transform: translate(-20px);}
    75% {transform: translate(-10px);}
    100% {transform: translateY(0);}
}
body{
    font-style: normal;
    font-family: 'Georgia', serif;

}
#title{
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    color: rgb(61, 9, 61);
    font-size: 80px;
    font-weight: 200;
    animation: jump infinite;
}
h3{
    font-size: 15px;
}
h2{
    font-weight: 700;
    color: rgb(29, 1, 32);
}
div{
    border-style: ridge;
    border-width: 5px;
    border-color: rgb(61, 9, 61);
    background-color: rgb(235, 223, 238);

}