#tempdiv{
    background-color: gold;
    color: black;
    font-weight: 800;
    font-size: 40px;
    font-family: Brush Script MT;
    border: 10px;
    width: 500px;
    text-align: center;
    left: 50%
    
}

button{
    display: inline-block;
    padding: 5px 30px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: wavy;
    outline: auto;
    color: lavender;
    background-color: navy;
    border-radius: 20px;
    box-shadow: 0 9px #7074ab;
    margin: 10px;
}
button:hover{
    background-color: rgb(2, 2, 88);
    box-shadow: 0 5px #7074ab;
    transform: translateY(4px);
}

.formContent{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
input{
    font-size: 20px;
    width: 400px;
    left: 50%;
}
label{
    font-size: 24px;
}
#formDiv{
    margin: 30px;
    left: 50px ;
}
#formContent{
    position: relative;
     
}
#affirmation{
    width: fit-content;
    
}
#listofAffirms{
    font-size: 20px;
}

.affbtn{
    font-size: 18px;
}
#add{
    background-color: green;
}
#delete{
    background-color: red;
}
#mood{
    font-size: 25px;
    margin-top: 40px;
}

img{
    height: 500px;
    width: 500px;
}
.affList{
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 5px;

}
.del{
    margin-left: 10px;
    display: inline-block;
    size: 8px;
    color: red;
    background-color: lightpink;
    font-size: 18px;
    padding: 8px;
    border: 20px;

}
select{
    font-size: 30px;
    font-family: cursive;
    font-weight: 700;
}